#footer {
  background-color: #f8f8f8;
  padding: 1.25rem;
  /* 20px */
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 4rem 4rem;
  box-sizing: border-box;
}

.footer-content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.logo img {
  max-width: 6.25rem;

  /* 100px */
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  justify-content: right;
  gap: 1rem;
}

.social-media span {
  display: block;
  margin-bottom: 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;

  /* 10px */
}

.icons {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
}

.icons a img {
  width: 1.5rem;
  /* 24px */
  height: 1.5rem;
  /* 24px */
}

@media (max-width: 37.5rem) {

  /* 600px */
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    margin-bottom: 0.625rem;
    /* 10px */
  }

  .social-media {
    text-align: center;
  }

  .icons {
    justify-content: center;
  }
}