/* styles.css */

:root {
  font-size: 16px;
  /* 1rem = 16px */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

header {
  background-color: #fff;
  padding: 1rem 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
  /* 1280px */
  margin: 0 auto;
  padding: 0 1.25rem;
  /* 20px */
}

.logo img {
  max-height: 4.5rem;
  /* 72px */
}

.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin-left: 2.5rem;
  /* 40px */
}

.main-nav li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  /* 16px */
  transition: color 0.3s;
}

.main-nav li a:hover {
  color: #007BFF;
  /* Cor de destaque ao passar o mouse */
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  /* Cor de fundo */
  color: #fff;
  text-align: center;
  height: 100vh;
  /* Ocupa a tela inteira */
  padding: 2rem;
}

.hero-content {
  max-width: 40rem;
  /* 640px */
}

.hero h1 {
  font-size: 2.5rem;
  /* 40px */
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
  /* 20px */
  margin-bottom: 2rem;
}

.cta-button {
  background-color: #007BFF;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #0056b3;
}

.scroll-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.scroll-down img {
  width: 3.5rem;
  height: 3.5rem;
}

.next-section {
  height: 100vh;
  background-color: #f3f4f6;
  padding: 2rem;
}