#palestrantes {
  background: #fff;
  padding-bottom: 8rem;
}

#palestrantes h2 {
  padding-top: 8rem;
}

#palestrantes .container {
  display: flex;
  justify-content: center;

}

#palestrantes .content-palestrantes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.content-palestrantes a {
  display: inline-block;
  border-radius: 0.5rem;
  background: #0540F1;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3125rem;
  letter-spacing: 0.0525rem;
  text-transform: uppercase;
  margin-top: 2rem;
  padding: 1rem 4.76rem;
  cursor: pointer;
}