#programacao {
  width: 100%;
  background: #f1f1f1;
  padding-bottom: 8rem;
}

#programacao h1 {
  display: flex;
  padding-top: 8rem;
  margin-bottom: 4rem;
  text-align: center;
}

#programacao h2 {
  display: flex;
  margin-bottom: 4rem;
  text-align: center;
}

#programacao .container {
  display: flex;
}

#programacao .content-programacao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programacao-dia h3 {
  color: #0540F1;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.programacao-dia .evento {
  padding-bottom: 1.725rem;
}