/* GERAL */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Barlow", sans-serif;
}

/* GERAL */

/* Criando um container padrão para a página */
/* container da pagina - meninas-digitais */
.horarios-container,
.dia-container {
  max-width: 75%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 576px) {

  .horarios-container,
  .dia-container {
    max-width: 90%;
    padding: 0 0.5rem;
  }
}

@media (min-width: 992px) {

  .horarios-container,
  .dia-container {
    padding: 0 2rem;
  }
}

/* Aqui termina o estilo do container */

#programacao {
  width: 100%;
  background: #f1f1f1;
  padding: 4.38rem 0;
}

#programacao h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 4.38rem;
  font-weight: 700;
  color: #333;
}

/* Programação Atualizado */
.programacao-completa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.38rem;
  gap: 1rem;
}

.programacao-completa a {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background: #0540F1;
  color: #fff;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.programacao-completa a:hover {
  background-color: #003bb5;
}

.programacao-completa a::before {
  content: url("../../assets/icone-download.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

/* CARDS COM OS DIAS DA SEMANA */
.programacao-dia {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  box-sizing: border-box;
  flex-wrap: wrap;
  /* Permite que os cards quebrem de linha */

  padding-bottom: 4.38rem;
}

.card-dia {
  display: flex;
  border-radius: 0.5rem;
  background: #fff;
  width: 11.9375rem;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
  color: #333;
}

.card-dia:hover {
  background: #0540F1;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  border-bottom: #333 solid 6px;
  border-right: #333 solid 6px;
}

.card-dia h3,
.card-dia p {
  margin: 0;
}

/* Mobile: Exibir dois cards por linha */
@media (max-width: 768px) {
  .programacao-completa {
    max-width: 80%;
  }

  .programacao-dia {
    gap: 1rem;
    /* Reduz o espaço entre os cards */
  }

  .card-dia {
    width: calc(50% - 0.5rem);
    /* Define cada card com 50% da largura */
  }
}

/* PROGRAMAÇÃO HORÁRIOS */
.programacao-horarios h2 {
  color: #0540F1;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.025rem;
  padding-bottom: 2rem;
}

.programacao-horarios h3 {
  color: #000;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.125rem */
  letter-spacing: -0.0075rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.programacao-horarios p {
  color: #262626;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  /* 1.25rem */
  letter-spacing: -0.02rem;
  padding-bottom: 0.5rem;
}

.programacao-horarios a p {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.programacao-horarios a p:hover {
  color: #0540F1;
}

.programacao-horarios h4 {
  color: #000;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.6875rem */
  letter-spacing: -0.01125rem;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 2.13rem;
  margin-bottom: 2.13rem;
}

/*CARD ATIVO*/
.card-dia.active {
  background: #0540F1;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  border-bottom: #333 solid 6px;
  border-right: #333 solid 6px;
}

/* Estilo especial para o aviso adicional */
.card-horarios.aviso {
  background-color: #eef4ff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #333;
  margin-top: 1rem;
}