#workshops {
  width: 100%;
  padding-bottom: 8rem;
}

#workshops h2 {
  display: flex;
  justify-content: center;
  padding: 8rem 0 4rem 0;
}

#workshops .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 colunas */
  gap: 2rem;
  /* Espaçamento entre os cards */
}

#workshops p {
  padding-bottom: 2rem;
  width: 60%;
}


#workshops .cards .card {
  background-color: blue;
  border-radius: 2.8125rem;
  border: #333 1px solid;
  border-bottom: 8px #000 solid;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

#workshops .cards .card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#workshops .cards .card a {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#workshops .cards .card-pesqbase,
#workshops .cards .card-progbase,
#workshops .cards .card-meninas-digitais {
  color: #333;
  background-color: #fff;
}

#workshops .cards .card .link-pesqbase,
#workshops .cards .card .link-progbase,
#workshops .cards .card .link-meninas-digitais {
  color: #333;
}

#workshops .cards .card-weibase,
#workshops .cards .card-robobase {
  color: #fff;
  background-color: #0540F1;
}

#workshops .cards .card .link-weibase,
#workshops .cards .card .link-robobase {
  color: #fff;
}

#workshops .cards .card-xbase,
#workshops .cards .card-minicursos {
  color: #fff;
  background-color: #333;
}

#workshops .cards .card .link-minicursos::before,
#workshops .cards .card .link-xbase::before {
  content: url('/assets/saiba-mais-icon-light.svg');
  color: #fff;
}

#workshops .cards .card .link-xbase,
#workshops .cards .card .link-minicursos {
  color: #fff;
}




#workshops .cards .card a::before {
  content: url('/assets/saiba-mais-icon.svg');
}

#workshops .cards .card .card-media img {
  max-width: 10rem;
}

@media (max-width: 780px) {
  #workshops .cards {
    grid-template-columns: 1fr;
  }
}